@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;300&display=swap");

body {
  margin: 0;
  position: relative;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eb8300;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  box-shadow: 0px 5px 5px rgb(0 0 0 / 20%);
}
.Header div {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.Header div:hover {
  color: #000;
}

.site-card-wrapper {
  padding: 30px;
  background: #2b2a2ae5;
}

.card-responsive {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.shoping-menu {
  z-index: 999;
  position: fixed;
  top: 10px;
  bottom: 0;
  right: 10px;
  height: 50px;
}

.ant-card-cover img {
  border-radius: 30px 30px 0 0;
}
